[Unit]
Description=Start Redis Instance

# Specify user & group starting the redis instance
[Service]
User=root
Group=root

# Edit below to specify path to redis home and config/pid files
ExecStart=[/path/to/redis/]redis-server [/path/to/redis-setup-sample/conf/]a.conf
PIDFile=[/path/to/redis-setup-sample/log/]a.pid

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target